header h1{
  font-size: 40px; 
  text-align:center;
	margin-top: 0.67em; 
	margin-bottom: 0.67em; 
	margin-left: 0; 
	margin-right: 0; 
  font-weight: bold;
  color: #803912;
}

h2{
  font-size: 24px;
  line-height: 1;
  color: #2f4f4f;
  margin-top: 10px;
  }

header{
  font-family: 'Aldrich';
}

nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr
  grid-template-row: auto auto auto;
}

nav ul li{
  background-color:#DEB887;
  font-size:calc(12px + 1vw);
  text-align:center;
  vertical-align: middle;
	padding:10px 0;
	border:1px;
}

.current{
  background-color:#2f4f4f;
  font-size:calc(14px + 1vw);
  text-align:center;
  vertical-align: middle;
  padding:10px 0;
  border:1px;
  font-weight: bold;
}

.current a{
  text-decoration: none;
  color: white;
}

nav ul li a{
  text-decoration: underline;
  color: #264040;
}

.skip a{
  background: #264040;
  color: white;
  left: 5%;
  padding: 10px;
  -webkit-transition: top 2s ease-out;
  transition: top 2s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus-visible{
  position: absolute;
  top: 0px;
}

body{
	margin:1%;
  padding:1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(234, 235, 230);
  background-attachment: fixed;
  z-index: -1;
}

main p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 18px;
  color: black;
}

main p a:visited{
  color: darkblue;
}


header, main, nav{
  margin-bottom: 10px;
  z-index: 1;
}

.parallax {
  min-height: 300px; 
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pic1{
  background-image: url("../images/covid.jpg");
}

#pic2{
  background-image: url("../images/LGBT.jpg");
}

#pic3{
  background-image: url("../images/president.jpg");
}

#pic4{
  background-image: url("../images/TnT.jpg");
}
.map{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.map iframe{
  width:inherit;
  border: 3px;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

.Natural{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(300px + 1vw) calc(300px + 1vw) calc(300px + 1vw) calc(300px + 1vw) calc(300px + 1vw) calc(300px + 1vw) calc(300px + 1vw) calc(300px + 1vw) calc(300px + 1vw);
}

.flip-card {
  width: 100%;
  height: 100%;
  perspective: 800px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip-card-back{
  background-color: #803912;
  width: 100%;
  height: calc(300px + 1vw);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h1{
  color: white;
  font-size: 26px;
  padding: 130px 0px;
}


footer{
    width:100%;
    height: 40px;
    font-size: 16px;
    background: #2f4f4f;
    text-align:left;
    color: #FFFFFF;
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  form {
    border: 3px solid #f1f1f1;
    background-color: rgb(241, 241, 220);
  }
  
  legend{ 
    font-size: 125%;
    font-style:italic;
    text-transform: uppercase;
    text-align: center;
  }
  
  label{
    display: inline-block;
    margin-left:10px;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  textarea{
    width: 100%;
    height: 20vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  input[type=submit] {
    background-color: rgb(170, 88, 34);
    font-size: 125%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    opacity: 0.5;
  }
  

  .food{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    }

    .foodcard {
      margin: 12px;
      background: #fff;
      border-radius: 7px;
      padding: 7px 0;
      flex-basis: 400px;
    }

    .foodcard > header{
      background: #803912;
      border: 2px solid white;
      padding: 20px 0;
      border-radius: 7px 7px 0 0;
      height: 20px;
      display: none;
    }

    .foodcard h3{
      font-size: calc(18px + 1vw);
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
    }

    .foodcard > .fa-star{
      display:none;
    }

    .foodcard:hover > header{
      display: block;
      }
    
    .foodcard:hover > .fa-star{
      display: inline-block;
      }
    
    .food img{
      width: 100%;
      height: calc(300px + 1vw);
    }

    .checked {
      color: orange;
    }

    .Natural img{
      width: 100%;
      height: calc(300px + 1vw);
      border: 5px solid #DEB887;
    }

    img{
    width: 100%;
  }

  @-webkit-keyframes logo_wiggle{
    from {width: 20px;}
    to {width: 50px;}
  }
  
  @keyframes logo_wiggle{
    from {width: 20px;}
    to {width: 50px;}
  } 
  
  #flag{
    width: 50px;
    position: relative;
    animation: logo_wiggle 5s;
  }


  @media screen and (min-width: 600px){

  nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto; 
  }

  .Natural{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(300px + 1vw) calc(300px + 1vw) calc(300px + 1vw) calc(300px + 1vw) calc(300px + 1vw);
  }

  .Natural img{
    width: 100%;
    height: calc(300px + 1vw);
  }

  .flip-card-back{
    background-color: #803912;
    width: 100%;
    height: calc(300px + 1vw);
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back h1{
    color: white;
    font-size: 28px;
    padding: 130px 0px;
  }

}

  @media screen and (min-width: 1000px){

  nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto; 
  }


  .parallax {
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #pic1{
    background-image: url("../images/covid.jpg");
  }

  #pic2{
    background-image: url("../images/LGBT.jpg");
  }

  #pic3{
    background-image: url("../images/president.jpg");
  }

  #pic4{
    background-image: url("../images/TnT.jpg");
  }

  .text-block{
    height:130px;
  }

  .Natural{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: calc(300px + 1vw) calc(300px + 1vw) calc(300px + 1vw);
  }

  .Natural img{
    width: 100%;
    height: calc(300px + 1vw);
  }

  .img-one{
    grid-column: 1;
    grid-row: 1;
  }

  .img-two{
    grid-column: 2;
    grid-row: 1;
  }

  .img-three{
    grid-column: 3;
    grid-row: 1;
  }
  .img-four{
    grid-column: 1;
    grid-row: 2;
  }

  .img-five{
    grid-column: 2;
    grid-row: 2;
  }

  .img-six{
    grid-column: 3;
    grid-row: 2;
  }

  .img-seven{
    grid-column: 1;
    grid-row: 3;
  }

  .img-eight{
    grid-column: 2;
    grid-row: 3;
  }

  .img-nine{
    grid-column: 3;
    grid-row: 3;
  }
  .flip-card {
    width: 100%;
    height: 100%;
    perspective: 800px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
  }

  .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  
  .flip-card-back{
    background-color: #803912;
    width: 100%;
    height: calc(300px + 1vw);
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back h1{
    color: white;
    font-size: 32px;
    padding: 120px 0px;
  }

  .map{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


}

@media screen and (prefers-reduced-motion: reduce) {
    #flag {
      animation: none;
    }

    .parallax {
      background-attachment: scroll;
    }


    .flip-card-inner {
      transition: none;
    }

    .foodcard > header{
      display: block;
    }
    
    .foodcard > .fa-star{
      display: inline-block;
    }

}